[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_50445061303A5E1C-if00
restart_method: command

####---NOTE: Z OFFSET from coil of eddy to tip of nozzle is 2.5mm---####
[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -22.52
y_offset: 8.97

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26


[z_tilt]
### point where the bed tilts on the joints - estimate. Run Z_TILT_ADJUST
####---Section below was taken from carto as an example---####
# speed: 150
# horizontal_move_z: 10
# retries: 15
# retry_tolerance: 0.0075

horizontal_move_z: 2.0

z_positions:
  150, 332 # stepper_z tilt location (rear center)
  350, 18 # stepper_z1 tilt location (front right)
  -50, 18 # stepper_z2 tilt location (front left)
  
points:
  150, 265 # stepper_z probe location on the bed (rear)
  270, 25 # stepper_z1 probe location on the bed (front right)
  30, 25 # stepper_z2 probe location on the bed (front left)



####---This section is from eddy ng docs---####
[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    SAVE_GCODE_STATE NAME=STATE_Z_TILT
    BED_MESH_CLEAR
    {% if not printer.z_tilt.applied %}
    _Z_TILT_ADJUST horizontal_move_z=8 retry_tolerance=1
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=2
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT


###STock config
# [z_tilt]
# # XY positions of the Z screws in NOZZLE coordinate system
# z_positions:
#     150, 280    # stepper_z   - rear center
#     280, 40     # stepper_z1  - front right
#     40, 40      # stepper_z2  - front left

# # Probe points (safe locations inside your mesh window: 20,20 → 280,270)
# # These DO NOT get probe offset applied; Klipper handles that automatically.
# points:
#     260, 40     # near front-right
#     40, 40      # near front-left
#     150, 260    # rear-center

# speed: 40
# horizontal_move_z: 5
# retries: 3
# retry_tolerance: 0.01    # Later, after it's stable, reduce toward 0.005

# ====================
# Bed Mesh BTT EDDY
# ====================
[bed_mesh]
speed: 300
horizontal_move_z: 2.0
# Your current mesh window – safe with your offsets
mesh_min: 9,9 # Try 10, 10 or 20, 20 if it causes issues
# mesh_max: 
mesh_max: 284,284 # changed from simpleAF 287,287 due to filament cutter. Also try 283, 283 for safer cushion
probe_count: 31,31
algorithm: bicubic
bicubic_tension: 0.15
fade_start: 0.5 # full correction from Z=0 to 0.5 mm
fade_end: 30 # gradually less up to Z=30 mm. No mesh above 30mm
# Bed center for reference
zero_reference_position: 154,150
# zero_reference_position: 153.25,150.5 # this is default SimpleAF Klipper Bed Reference. see bottom of homing_override.cfg

# ===========================
# Manual Bed Screws Adjustment
# ===========================
[screws_tilt_adjust]
screw1: 25,20      # Front Left
screw1_name: Front Left
screw2: 280,20     # Front Right
screw2_name: Front Right
screw3: 280,270    # Rear Right
screw3_name: Rear Right
screw4: 25,270     # Rear Left
screw4_name: Rear Left
speed: 50
horizontal_move_z: 5
screw_thread: CW-M4