# ============================
# Eddy NG - Prep Home and Heaters Calibration
# ============================
[gcode_macro PREPARE_EDDY_NG_CALIBRATION]
description: G28 X Y, Heat Nozzle to 150c, and bed to 60c
gcode:
    M104 S150 #set extruder temp don't wait
    M140 S60 #set bed temp don't wait
    G28 X Y
    
# ============================
# Eddy NG - Auto Calibration
# ============================
# [gcode_macro AUTO_PROBE_EDDY_NG_SETUP]
description: Automatic Drive Current Sensing
rename_existing: _PROBE_EDDY_NG_SETUP
gcode:
    PROBE_EDDY_NG_SETUP

# ============================
# Eddy NG - Manual Calibration
# ============================
# [gcode_macro MANUAL_PROBE_EDDY_NG_CALIBRATE]
# description: Use manual method if AUTO_PROBE_EDDY_NG_SETUP does not work
# rename_existing: _PROBE_EDDY_NG_CALIBRATE
# variable_drive_current: 16
# gcode:
#     {% set drive_current = params.DRIVE_CURRENT|default(printer["gcode_macro A_AUTO_CARTO_SCAN_CALIBRATE"].model) %}
#     {% set method = params.METHOD|default(printer["gcode_macro A_AUTO_CARTO_SCAN_CALIBRATE"].method) %}

#     M104 S150 #set extruder temp don't wait
#     M140 S80 #set bed temp don't wait
#     G28 X Y
#     M190 S80 #wait for bed temps
#     CARTOGRAPHER_SCAN_CALIBRATE MODEL={model} METHOD={method}

# ============================
# Eddy NG - Manual Calibration
# ============================
# [gcode_macro PREPARE_EDDY_NG_CALIBRATION]
# description: G28 X Y, Heat Nozzle to 150c, and bed to 60c
# variable_model: "default"
# variable_method: "manual"
# gcode:
#     {% set model = params.MODEL|default(printer["gcode_macro A_AUTO_CARTO_SCAN_CALIBRATE"].model) %}
#     {% set method = params.METHOD|default(printer["gcode_macro A_AUTO_CARTO_SCAN_CALIBRATE"].method) %}

#     M104 S150 #set extruder temp don't wait
#     M140 S80 #set bed temp don't wait
#     G28 X Y
#     M190 S80 #wait for bed temps
#     CARTOGRAPHER_SCAN_CALIBRATE MODEL={model} METHOD={method}