# K1 MAX
# Configuration creation date: 11/14/2025

#===MODIFICATIONS===
# Relevant to below configurations, if your printer is different please adjust as necessary

# Manta M8P with CM4
# BootyJones linear rail XY gantry with 17HS8401 steppers
# Cartographer
# Future Mods: Mini Bento, Chamber Heater, Triple Z bed, bedfans, nozzle cam.

#===INCLUDES===
#=== UI components ===
[include mainsail.cfg]
[respond]

#=== Feature modules ===
# [include gcode_macro.cfg]
# [include cartographer/cartotouch.cfg] # Comment out for now in order to use eddy ng firmware
# [include cartographer/carto_homing_override.cfg] # Comment out for now in order to use eddy ng firmware
[include eddy_ng/eddy_homing_override.cfg] # Test if these offsets are correct for eddy ng
[include KAMP_Settings.cfg]
[include eddy_ng/eddy_tap.cfg]

#=== Optional hardware modules ===
# [include bedfans.cfg]
# [include aux_fan.cfg]
# [include timelapse.cfg]
# [include K-ShakeTune/*.cfg]
# [include printer_params.cfg]

#=== Macros ===
# [include cartographer/cartographer_macros.cfg] # Comment out for now in order to use eddy ng firmware
[include eddy_ng/eddy_ng_macros.cfg] # Comment out for now in order to use eddy ng firmware
[include macros/start_end_print.cfg]
[include macros/custom_macros.cfg]
[include macros/sensorless_calibration.cfg]
# [include shell_command.cfg]
[include macros/orca_slicer_overrides.cfg]
[include macros/reshelper.cfg]

[exclude_object]

#===MCUs===
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_4C001C000D51313234353230-if00

[mcu Nozzle_MCU]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
# baud: 230400
baud: 250000
restart_method: command

[mcu CM4]
serial: /tmp/klipper_host_mcu

[temperature_sensor CM4_Temps]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

# [temperature_sensor Manta M8P] #Define this under MCU Fan 3/4 way at the bottom. If using EDDY NG, that's where the sensor is also located
# sensor_type: temperature_mcu
# min_temp: 0
# max_temp: 100

[virtual_sdcard]
path: /home/k1max/printer_data/gcodes

#===SAFETY SETTINGS===

[verify_heater extruder]
[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[idle_timeout]
gcode = 
    M104 S0 # turn off hotend
    M140 S0 # turn off bed heater
    M107 P0 # turn off part fan
    M107 P2 # turn off side fan
    M107 P3 # turn off chamber fan
    {action_respond_info("Idle timeout reached. Heaters and fans powered down.")} # Let the user know what is happening
    M84 # unlock steppers
timeout = 1200

[gcode_arcs]
resolution: 0.3

#======================
# X MOTOR + SENSORLESS
#======================
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14

# motion parameters
microsteps: 32
rotation_distance: 40 # double the teeth of 20t pulley
full_steps_per_rotation: 200 # 42-60 motors with 1.8 Step angle. LDO motors with .9 angle would be 400

# travel limits
position_min: -4
position_max: 312
position_endstop: 312

# sensorless homing
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 20 # half of rotation distance while calibrating sensorless homing
homing_retract_dist: 0

# TMC2209 stepper_x UART & driver hardware
[tmc2209 stepper_x]
uart_pin: PC13
sense_resistor: 0.100
interpolate: False

# motion/electrical behavior (optional tuning)
hold_current: 0.6
stealthchop_threshold: 0

# sensorless StallGuard parameters
diag_pin: PF4
run_current: 1.5
driver_SGTHRS: 70 # max is 255 which is most sensitive

#======================
# Y MOTOR + SENSORLESS
#======================
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4

# motion parameters
microsteps: 32
rotation_distance: 40 # double the teeth of 20t pulley
full_steps_per_rotation: 200 # 42-60 motors with 1.8 Step angle. LDO motors with .9 angle would be 400

# travel limits
position_min: -2
position_max: 302
position_endstop: -2

# sensorless homing
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 20 # half of your rotation distance
homing_retract_dist: 0

# TMC2209 stepper_y UART & driver hardware
[tmc2209 stepper_y]
uart_pin: PE3
sense_resistor: 0.100
interpolate: False

# motion/electrical behavior (optional tuning)
hold_current:0.6
stealthchop_threshold: 0

# sensorless StallGuard parameters
diag_pin: PF3
run_current: 1.5
driver_SGTHRS: 70 # max is 255 which is most sensitive

#======================
# Z MOTOR - Triple Z, NEMA17 42-40 settings
#======================

#===FRONT REAR STEPPER===#
[stepper_z] # rear, stepper motor pin 5
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 8 # TRX 8 Lead Screw
gear_ratio: 20:16 # Trx gears to motors gears ratio. 20t trx gears to 16t motor gears

# endstop_pin: probe:z_virtual_endstop # Use scanner as virtual endstop. This is for cartographer
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0.0 # Scanner needs this to be set at 0
position_max: 305
position_min: -10
homing_speed: 10
second_homing_speed: 1

[tmc2209 stepper_z]
uart_pin: PG14
run_current: 0.8 # test with 0.3 if needed
stealthchop_threshold: 0
interpolate: False
# diag_pin: PF0 # cartographer/EDDY NG doens't need sensorless
# sense_resistor: 0.100
# driver_SGTHRS: 0

#===FRONT Right STEPPER===#
[stepper_z1] # front right stepper motor pin 4
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.8 # test with 0.3 if needed
stealthchop_threshold: 0
interpolate: False
# diag_pin: PF1 # cartographer/EDDY NG doens't need sensorless
# sense_resistor: 0.100
# driver_SGTHRS: 0

#===FRONT LEFT STEPPER===#
[stepper_z2] # front left stepper motor pin 3
step_pin: PB8 
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z2]
uart_pin: PB9
run_current: 0.8 # test with 0.3 if needed
stealthchop_threshold: 0
interpolate: False
# diag_pin: PF2 # cartographer/EDDY NG doens't need sensorless
# sense_resistor: 0.100
# driver_SGTHRS: 0

# #====== safe_z_home note ======#
# ### Homing_override.cfg already has XY homing (with sensorless logic), XY recentering, safe Z-lift before ANY movement,
# ### Cartographer Z probe homing, Z-hop after homing Z, replacing the safe z home below. YOU CANNOT USE BOTH SAFE Z AND HOMNING OVERRIDE. Will error
# [safe_z_home]
# home_xy_position: 150,150
# speed: 100
# z_hop: 10
# z_hop_speed: 20
# move_to_previous: False

#======================
# NEMA 14 Toolhead Extruder
#======================
[tmc2209 extruder]
uart_pin: Nozzle_MCU:PB11
tx_pin: Nozzle_MCU:PB10
uart_address: 3
run_current: 0.5
sense_resistor: 0.150
stealthchop_threshold: 0

# ===HEATERS===

[extruder]
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 80
step_pin: Nozzle_MCU:PB1
dir_pin: Nozzle_MCU:PB0
enable_pin: !Nozzle_MCU:PB2
microsteps: 16
rotation_distance: 6.797 #stock extruder
# rotation_distance: 5.7 #bondtech extruder
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Nozzle_MCU:PB7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: Nozzle_MCU:PA0
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
#control: pid #Uncomment this line and the 3 below on first setup
#pid_Kp: 25.013
#pid_Ki: 2.566
#pid_Kd: 60.966
min_temp: 0
max_temp: 320


# [heater_bed]
# heater_pin: PA0
# sensor_type: temperature_fan
# sensor_mcu: mcu
# max_temp: 999
# control: watermark

[heater_bed]
heater_pin: PD15
sensor_type: EPCOS 100K B57560G104F #stock bed thermistor
# sensor_type: Generic 3950 #Keenovo bed thermistor
sensor_pin: PB1
# sensor_pin: PC5
#control: watermark #Uncomment this line and the 4 below on first setup
#control: pid
#pid_kp: 27
#pid_ki: 0.08
#pid_kd: 0
min_temp: 0
max_temp: 120

#===FAN CONFIGS===

[duplicate_pin_override]
pins: PB0, PF9, PA2, PC5, PF8

#[multi_pin heater_fans] # The MCU and hotend fan have been split and operate independently now
#pins:Nozzle_MCU:PB5,PB2

[heater_fan hotend_fan]
#pin: multi_pin:heater_fans
pin: Nozzle_MCU:PB5
tachometer_pin: ^Nozzle_MCU:PB4
heater: extruder
heater_temp: 40
# heater_temp: 150 # only used for cartographer temp calibration

[temperature_sensor chamber_temp]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 125

[static_digital_output my_fan_output_pins]
pins: Nozzle_MCU: PB6

[fan_generic Part_Fan] 
pin: !Nozzle_MCU: PB8
tachometer_pin: ^Nozzle_MCU: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.300
cycle_time: 0.010
hardware_pwm: False

[fan_generic Side_Fan]
pin: PF7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

[fan_generic Chamber_Fan]
pin: PF9
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

# [fan_generic Power_Supply_Fan] # Comment out this section if not needed
# pin: PA2
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 0.100
# cycle_time: 0.010
# hardware_pwm: False

# [temperature_fan CM4_Temps_and_Fan]
# pin: PF8
# sensor_type: temperature_host
# cycle_time: 0.01
# hardware_pwm: true
# min_temp: 0
# max_temp: 100
# target_temp: 45.0
# kick_start_time: 0.5
# shutdown_speed: 0
# off_below: 0.19
# min_speed: 0.3
# max_speed: 1.0
# control: pid
# pid_Kp: 2.4
# pid_Ki: 1.2
# pid_Kd: 0.12
# ###----- Can use below simpler settings instead of PID ----###
# # control: watermark
# # target_temp: 45
# # max_delta: 7
# # min_speed: 0.3
# # max_speed: 1.0

###----- If using GPIO for fans, use the below. Note that this is for 5v fans only! May need to change the PID during to 5v----###
# [temperature_fan SoC_fan]
# pin: CM4:gpio79
# #pin: RPI:gpio26
# kick_start_time: 0.8
# off_below: 0.1
# max_power: 1.0
# sensor_type: temperature_host
# min_temp: 10
# max_temp: 100
# min_speed: 0.1
# max_speed: 0.8
# target_temp: 38
# control: pid
# pid_Kp: 2.4
# pid_Ki: 1.2
# pid_Kd: 0.12

[temperature_fan MCU_Temps_and_Fan]
pin: PF6
# tachometer_pin: PC1
sensor_type: temperature_mcu
cycle_time: 0.01
hardware_pwm: true
min_temp: 0
max_temp: 100
target_temp: 45.0
kick_start_time: 0.5
shutdown_speed: 0
off_below: 0.19
min_speed: 0.3
max_speed: 1.0
control: pid
pid_Kp: 3.2
pid_Ki: 0.8
pid_Kd: 0.18
pid_deriv_time: 2.0
###----- Can use below simpler settings instead of PID ----###
# control: watermark
# target_temp: 45
# max_delta: 7
# min_speed: 0.3
# max_speed: 1.0

[fan_generic Bento_Air_Purifier]
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

# [temperature_fan Bento_Air_Purifier] # Comment out this section if not needed
# pin: PF8
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PB0
# min_temp: 0
# max_temp: 70
# control: watermark
# max_delta: 2
# target_temp: 50
# max_speed: 1.0
# min_speed: 0.0

# Comment out this section if not needed. If putting a thermistor, put it in PC5
# [temperature_sensor power_supply_temp]
# sensor_type: Generic 3950
# sensor_pin: PC5
# min_temp: 0
# max_temp: 125

# [temperature_fan Chamber_Fan]
# # Enable this later once chamber heater is completed
# # Temperature based control over chamber fan, use the following gcode in your machine start g-code
# # SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=Chamber_Fan TARGET=65
# pin: PF9
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PB0
# min_temp: 0
# max_temp: 100
# control: watermark
# max_delta: 2
# target_temp: 50
# max_speed: 1.0
# min_speed: 0.0

# Comment out this section if not needed. If putting a thermistor, put it in the pins below
# [temperature_fan Power_Supply_Fan]
# pin: PA2
# tachometer_pin: PC1
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: Generic 3950
# sensor_pin: PC5
# min_temp: 0
# max_temp: 70
# control: pid
# pid_Kp: 4.0
# pid_Ki: 1
# pid_Kd: 0.2
# pid_deriv_time: 2.0
# target_temp: 40.0
# max_speed: 1.0
# min_speed: 0.0

# If makeing bed fans to help with heating, enable this
# [fan_generic Bed_Fans]
# pin: PF6
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 0.100
# cycle_time: 0.010
# hardware_pwm: False

[output_pin LED_Lights]
pin: PA4
pwm: true
hardware_pwm: false
scale: 255
shutdown_value: 0.0
value: 255
cycle_time: 0.001


##### This section is in cartotouch.cfg, therefore it's commented out
# #===BED MESH=== 

# [bed_mesh]                   
# speed: 350                   
# mesh_min: 20,27             # x / y offsets for carto.
# mesh_max: 280,270           # added a little space from the back of the bed to prevent scanning screws or crashing into the motor mounts
# probe_count: 40,40         
# #fade_start: 5.0
# #fade_end: 50.0
# algorithm: bicubic
# bicubic_tension: 0.1        # required for above 5x5 meshing 

#===PRINTER SETTINGS===

[adxl345]
# cs_pin: cartographer:PA3 # Cartographer’s on-board ADXL
cs_pin: Nozzle_MCU:PA4 # <- keep this commented as backup stock ADXL
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
   154,150,10

[input_shaper]
# # --- X axis (from ResHelper TEST_RESONANCES) ---
# shaper_type_x = 3hump_ei
# shaper_freq_x: 120.0
# damping_ratio_x: 0.0114 # 2.4 belt tension, using 95 accel_per_hz
# # --- Y axis (from ResHelper TEST_RESONANCES) ---
# shaper_type_y = 2hump_ei
# shaper_freq_y: 79.0
# damping_ratio_y: 0.0214 # 2.4 belt tension using 80 accel_per_hz


[display_status]

# [filament_switch_sensor filament_sensor] # Stock filament sensor
# pause_on_runout: true
# switch_pin: !PC15

####----Nozzle Sensor----###
[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !Nozzle_MCU:PA10
event_delay: 1.5
pause_delay: 0.25
insert_gcode: 
  M118 filament inserted
  M600
runout_gcode:
  M118 filament runout
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E-30 F180
    G1 E-50 F2000
    G90
  {% endif %}

# ### Enable this later if using a smart runout sensor
# [filament_switch_sensor runout_sensor] # BTT SFS2.0 only
# switch_pin: PC15
# pause_on_runout: False
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Filament runout detected
#   {action_respond_info("Filament runout detected")} 
# insert_gcode:
#   M117 Filament inserted
#   {action_respond_info("Filament inserted")} 

# [filament_motion_sensor jam_sensor] # BTT SFS2.0 only
# switch_pin: !PF0
# detection_length: 2.88
# extruder: extruder
# pause_on_runout: False
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Extrusion issues detected
#   {action_respond_info("Extrusion issues detected")} 
# insert_gcode:
#   M117 Extrusion issues resolved
#   {action_respond_info("Extrusion issues resolved")} 

[printer]
kinematics: corexy
max_velocity: 800
# max_accel: 20000
max_accel: 7700
minimum_cruise_ratio: 0.1
max_z_velocity: 20 # test with 2 if needed for z steppers
square_corner_velocity: 5.0
max_z_accel: 300 # test with 10 if needed for z steppers

[pause_resume]

[firmware_retraction]
retract_length: 0.4
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.590
#*# pid_ki = 1.854
#*# pid_kd = 88.285
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.706
#*# pid_ki = 0.429
#*# pid_kd = 1061.766
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 65.6
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 74.6
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUFHvRKaWLPU/myNR4nnK/D+3MU0tR9voP38t1pI8yN4/nhuD/zzczj+9j0GcIHG3P4mD5SAEGpI//pGq86aqsj8PHFNEacHAP1VLRJpjZac/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ6YM2a32RlD5rB7rGIv6UPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQPujhgqGPGkDRxV/HOtIIQHX777Dkkf4/D7tJuPB9BkBCe+mrCyTgv46+uYpK5hvA0iVf1AhYA0AbryDtOzEnQO7eDYwWEuO/TrDhdt3WFMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEPkzRYW7+pQ+k0fFAnsRlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1C2D7tP9uKUPqZt0OdX2SU+rduzrS8xF76eniQtKXgDPjasMQzb6gK+f8G4Pb35+D18llWWVygFPoyH/xW6aAS+DvbkhZ7o873Fz17rGRzzPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ4MelbL8wUz+WmihTSvgTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/UzC/bKXH4EdALf8qvxEnt2WMB2ZfcmFuZ2WUXZQoR0FITUt042AAR0FI5IS9jOgAZYwCZGOUSxB1Lg==
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.010245, -0.051481, 0.061726
#*# compensation_start_x = 30.0
#*# compensation_end_x = 280.0
