# K1 MAX
# Configuration creation date: 11/14/2025

#===MODIFICATIONS===
# Relevant to below configurations, if your printer is different please adjust as necessary

# Manta M8P with CM4
# BootyJones linear rail XY gantry with 17HS8401 steppers
# Cartographer
# Future Mods: Mini Bento, Chamber Heater, Triple Z bed, bedfans, nozzle cam.

#===INCLUDES===
#=== UI components ===
[include mainsail.cfg]
[respond]

#=== Feature modules ===
# [include gcode_macro.cfg]
[include cartographer/cartotouch.cfg]
[include KAMP_Settings.cfg]
[include cartographer/homing_override.cfg]

#=== Optional hardware modules ===
# [include bedfans.cfg]
# [include aux_fan.cfg]
# [include timelapse.cfg]
# [include K-ShakeTune/*.cfg]
# [include shell_command.cfg]
# [include printer_params.cfg]

#=== Macros ===
[include macros/start_end_print.cfg]
[include macros/custom_macros.cfg]
[include macros/sensorless_calibration.cfg]
[include cartographer/cartographer_macros.cfg]
[include shell_command.cfg]
[include macros/orca_slicer_overrides.cfg]
# [include /home/k1max/ResHelper/reshelper.cfg.ref]
[include macros/reshelper.cfg]


[exclude_object]

#===MCUs===
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_4C001C000D51313234353230-if00

[mcu Nozzle_MCU]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
# baud: 230400
baud: 250000
restart_method: command

[mcu CM4]
serial: /tmp/klipper_host_mcu

[temperature_sensor CM4_Temps]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

# [temperature_sensor Manta M8P] #Define this under MCU Fan 3/4 way at the bottom
# sensor_type: temperature_mcu
# min_temp: 0
# max_temp: 100

[virtual_sdcard]
path: /home/k1max/printer_data/gcodes

#===SAFETY SETTINGS===

[verify_heater extruder]
[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[idle_timeout]
gcode = 
    M104 S0 # turn off hotend
    M140 S0 # turn off bed heater
    M107 P0 # turn off part fan
    M107 P2 # turn off side fan
    M107 P3 # turn off chamber fan
    {action_respond_info("Idle timeout reached. Heaters and fans powered down.")} # Let the user know what is happening
    M84 # unlock steppers
timeout = 1200

[gcode_arcs]
resolution: 0.3

#======================
# X MOTOR + SENSORLESS
#======================
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14

# motion parameters
microsteps: 32
rotation_distance: 40 # 17HS8401 42-40 motors with 1.8 Step angle
# microsteps: 128 # Test this later due to smaller 42-40 motors, gears, and linear rails
# rotation_distance: 72 # This is for the stock 42-60 motors
full_steps_per_rotation: 200 # 17HS8401 42-40 motors with 1.8 Step angle. LDO motors with .9 angle would be 400

# travel limits
# position_min: -5
# position_max: 306.5
# position_endstop: 306.5
position_min: -6.5
position_max: 306.5
position_endstop: 306.5

# sensorless homing
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 20 # half of rotation distance while calibrating sensorless homing
homing_retract_dist: 0
# homing_retract_dist: 5
# homing_retract_speed: 10

# TMC2209 stepper_x UART & driver hardware
[tmc2209 stepper_x]
uart_pin: PC13
sense_resistor: 0.100
interpolate: False

# motion/electrical behavior (optional tuning)
hold_current: 0.5
stealthchop_threshold: 0

# sensorless StallGuard parameters
diag_pin: PF4
run_current: 1.35
driver_SGTHRS: 65 # max is 255 which is most sensitive

#======================
# Y MOTOR + SENSORLESS
#======================
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4

# motion parameters
microsteps: 32
rotation_distance: 40 # 17HS8401 42-40 motors with 1.8 Step angle
# microsteps: 128   # Test later with your 42-40 motors + rails
# rotation_distance: 72   # Test later if switching to high microsteps
full_steps_per_rotation: 200 # 17HS8401 42-40 motors with 1.8 Step angle. LDO motors with .9 angle would be 400

# travel limits
# position_min: -2
# position_max: 306
# position_endstop: -2
position_min: -1
position_max: 301
position_endstop: -1

# sensorless homing
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 20 # half of your rotation distance
homing_retract_dist: 0
homing_retract_dist: 5
# homing_retract_speed: 10

# TMC2209 stepper_y UART & driver hardware
[tmc2209 stepper_y]
uart_pin: PE3
sense_resistor: 0.100
interpolate: False

# motion/electrical behavior (optional tuning)
hold_current:0.5
stealthchop_threshold: 0

# sensorless StallGuard parameters
diag_pin: PF3
run_current: 1.35
driver_SGTHRS: 65 # max is 255 which is most sensitive

#======================
# Z MOTOR - Triple Z, NEMA17 42-40 settings
#======================

#===FRONT REAR STEPPER===#
[stepper_z] # rear, stepper motor pin 5
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 8 # TRX 8 Lead Screw
gear_ratio: 20:16 # Trx gears to motors gears ratio. 20t trx gears to 16t motor gears

endstop_pin: probe:z_virtual_endstop # Use scanner as virtual endstop
homing_retract_dist: 0.0 # Scanner needs this to be set at 0
position_max: 305
position_min: -10
homing_speed: 10
second_homing_speed: 1

[tmc2209 stepper_z]
uart_pin: PG14
run_current: 0.8 # test with 0.3 if needed
stealthchop_threshold: 0
interpolate: False
# diag_pin: PF0 # cartographer doens't need sensorless
# sense_resistor: 0.100
# driver_SGTHRS: 0

#===FRONT Right STEPPER===#
[stepper_z1] # front right stepper motor pin 4
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop # Use scanner as virtual endstop

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.8 # test with 0.3 if needed
stealthchop_threshold: 0
interpolate: False
# diag_pin: PF1 # cartographer doens't need sensorless
# sense_resistor: 0.100
# driver_SGTHRS: 0

#===FRONT LEFT STEPPER===#
[stepper_z2] # front left stepper motor pin 3
step_pin: PB8 
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop # Use scanner as virtual endstop

[tmc2209 stepper_z2]
uart_pin: PB9
run_current: 0.8 # test with 0.3 if needed
stealthchop_threshold: 0
interpolate: False
# diag_pin: PF2 # cartographer doens't need sensorless
# sense_resistor: 0.100
# driver_SGTHRS: 0

# #====== safe_z_home note ======#
# ### Homing_override.cfg already has XY homing (with sensorless logic), XY recentering, safe Z-lift before ANY movement,
# ### Cartographer Z probe homing, Z-hop after homing Z, replacing the safe z home below. YOU CANNOT USE BOTH SAFE Z AND HOMNING OVERRIDE. Will error
# [safe_z_home]
# home_xy_position: 150,150
# speed: 100
# z_hop: 10
# z_hop_speed: 20
# move_to_previous: False

#======================
# NEMA 14 Toolhead Extruder
#======================
[tmc2209 extruder]
uart_pin: Nozzle_MCU:PB11
tx_pin: Nozzle_MCU:PB10
uart_address: 3
run_current: 0.5
sense_resistor: 0.150
stealthchop_threshold: 0

# ===HEATERS===

[extruder]
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 80
step_pin: Nozzle_MCU:PB1
dir_pin: Nozzle_MCU:PB0
enable_pin: !Nozzle_MCU:PB2
microsteps: 16
rotation_distance: 6.8103 #stock extruder
# rotation_distance: 5.7 #bondtech extruder
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Nozzle_MCU:PB7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: Nozzle_MCU:PA0
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
#control: pid #Uncomment this line and the 3 below on first setup
#pid_Kp: 25.013
#pid_Ki: 2.566
#pid_Kd: 60.966
min_temp: 0
max_temp: 320


# [heater_bed]
# heater_pin: PA0
# sensor_type: temperature_fan
# sensor_mcu: mcu
# max_temp: 999
# control: watermark

[heater_bed]
heater_pin: PD15
sensor_type: EPCOS 100K B57560G104F #stock bed thermistor
# sensor_type: Generic 3950 #Keenovo bed thermistor
sensor_pin: PB1
# sensor_pin: PC5
#control: watermark #Uncomment this line and the 4 below on first setup
#control: pid
#pid_kp: 27
#pid_ki: 0.08
#pid_kd: 0
min_temp: 0
max_temp: 120

#===FAN CONFIGS===

[duplicate_pin_override]
pins: PB0, PF9, PA2, PC5, PF8

#[multi_pin heater_fans] # The MCU and hotend fan have been split and operate independently now
#pins:Nozzle_MCU:PB5,PB2

[heater_fan hotend_fan]
#pin: multi_pin:heater_fans
pin: Nozzle_MCU:PB5
tachometer_pin: ^Nozzle_MCU:PB4
heater: extruder
heater_temp: 40
# heater_temp: 150 # only used for cartographer temp calibration

[temperature_sensor chamber_temp]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 125

[static_digital_output my_fan_output_pins]
pins: Nozzle_MCU: PB6

[fan_generic Part_Fan] 
pin: !Nozzle_MCU: PB8
tachometer_pin: ^Nozzle_MCU: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.300
cycle_time: 0.010
hardware_pwm: False

[fan_generic Side_Fan]
pin: PF7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

[fan_generic Chamber_Fan]
pin: PF9
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

# [fan_generic Power_Supply_Fan] # Comment out this section if not needed
# pin: PA2
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 0.100
# cycle_time: 0.010
# hardware_pwm: False

# [temperature_fan CM4_Temps_and_Fan]
# pin: PF8
# sensor_type: temperature_host
# cycle_time: 0.01
# hardware_pwm: true
# min_temp: 0
# max_temp: 100
# target_temp: 45.0
# kick_start_time: 0.5
# shutdown_speed: 0
# off_below: 0.19
# min_speed: 0.3
# max_speed: 1.0
# control: pid
# pid_Kp: 2.4
# pid_Ki: 1.2
# pid_Kd: 0.12
# ###----- Can use below simpler settings instead of PID ----###
# # control: watermark
# # target_temp: 45
# # max_delta: 7
# # min_speed: 0.3
# # max_speed: 1.0

###----- If using GPIO for fans, use the below. Note that this is for 5v fans only! May need to change the PID during to 5v----###
# [temperature_fan SoC_fan]
# pin: CM4:gpio79
# #pin: RPI:gpio26
# kick_start_time: 0.8
# off_below: 0.1
# max_power: 1.0
# sensor_type: temperature_host
# min_temp: 10
# max_temp: 100
# min_speed: 0.1
# max_speed: 0.8
# target_temp: 38
# control: pid
# pid_Kp: 2.4
# pid_Ki: 1.2
# pid_Kd: 0.12

[temperature_fan MCU_Temps_and_Fan]
pin: PF6
# tachometer_pin: PC1
sensor_type: temperature_mcu
cycle_time: 0.01
hardware_pwm: true
min_temp: 0
max_temp: 100
target_temp: 45.0
kick_start_time: 0.5
shutdown_speed: 0
off_below: 0.19
min_speed: 0.3
max_speed: 1.0
control: pid
pid_Kp: 3.2
pid_Ki: 0.8
pid_Kd: 0.18
pid_deriv_time: 2.0
###----- Can use below simpler settings instead of PID ----###
# control: watermark
# target_temp: 45
# max_delta: 7
# min_speed: 0.3
# max_speed: 1.0

[fan_generic Bento_Air_Purifier]
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

# [temperature_fan Bento_Air_Purifier] # Comment out this section if not needed
# pin: PF8
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PB0
# min_temp: 0
# max_temp: 70
# control: watermark
# max_delta: 2
# target_temp: 50
# max_speed: 1.0
# min_speed: 0.0

# Comment out this section if not needed. If putting a thermistor, put it in PC5
# [temperature_sensor power_supply_temp]
# sensor_type: Generic 3950
# sensor_pin: PC5
# min_temp: 0
# max_temp: 125

# [temperature_fan Chamber_Fan]
# # Enable this later once chamber heater is completed
# # Temperature based control over chamber fan, use the following gcode in your machine start g-code
# # SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=Chamber_Fan TARGET=65
# pin: PF9
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PB0
# min_temp: 0
# max_temp: 100
# control: watermark
# max_delta: 2
# target_temp: 50
# max_speed: 1.0
# min_speed: 0.0

# Comment out this section if not needed. If putting a thermistor, put it in the pins below
# [temperature_fan Power_Supply_Fan]
# pin: PA2
# tachometer_pin: PC1
# cycle_time: 0.0100
# hardware_pwm: false
# max_power: 1
# shutdown_speed: 0
# sensor_type: Generic 3950
# sensor_pin: PC5
# min_temp: 0
# max_temp: 70
# control: pid
# pid_Kp: 4.0
# pid_Ki: 1
# pid_Kd: 0.2
# pid_deriv_time: 2.0
# target_temp: 40.0
# max_speed: 1.0
# min_speed: 0.0

# If makeing bed fans to help with heating, enable this
# [fan_generic Bed_Fans]
# pin: PF6
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 0.100
# cycle_time: 0.010
# hardware_pwm: False

[output_pin LED_Lights]
pin: PA4
pwm: true
hardware_pwm: false
scale: 255
shutdown_value: 0.0
value: 255
cycle_time: 0.001


##### This section is in cartotouch.cfg, therefore it's commented out
# #===BED MESH=== 

# [bed_mesh]                   
# speed: 350                   
# mesh_min: 20,27             # x / y offsets for carto.
# mesh_max: 280,270           # added a little space from the back of the bed to prevent scanning screws or crashing into the motor mounts
# probe_count: 40,40         
# #fade_start: 5.0
# #fade_end: 50.0
# algorithm: bicubic
# bicubic_tension: 0.1        # required for above 5x5 meshing 

#===PRINTER SETTINGS===

[adxl345]
cs_pin: cartographer:PA3 # Cartographer’s on-board ADXL
# cs_pin: Nozzle_MCU:PA4 # <- keep this commented as backup stock ADXL
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
   150,150,10

[input_shaper]
# --- X axis (from ResHelper TEST_RESONANCES) ---
shaper_type_x: mzv
shaper_freq_x: 62.2
damping_ratio_x: 0.07
# --- Y axis (from ResHelper TEST_RESONANCES) ---
shaper_type_y: ei
shaper_freq_y: 53.6
damping_ratio_y: 0.012


[display_status]

# [filament_switch_sensor filament_sensor] # Stock filament sensor
# pause_on_runout: true
# switch_pin: !PC15

####----Nozzle Sensor----###
[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !Nozzle_MCU:PA10
event_delay: 1.5
pause_delay: 0.25
insert_gcode: 
  M118 filament inserted
  M600
runout_gcode:
  M118 filament runout
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E-30 F180
    G1 E-50 F2000
    G90
  {% endif %}

# ### Enable this later if using a smart runout sensor
# [filament_switch_sensor runout_sensor] # BTT SFS2.0 only
# switch_pin: PC15
# pause_on_runout: False
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Filament runout detected
#   {action_respond_info("Filament runout detected")} 
# insert_gcode:
#   M117 Filament inserted
#   {action_respond_info("Filament inserted")} 

# [filament_motion_sensor jam_sensor] # BTT SFS2.0 only
# switch_pin: !PF0
# detection_length: 2.88
# extruder: extruder
# pause_on_runout: False
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Extrusion issues detected
#   {action_respond_info("Extrusion issues detected")} 
# insert_gcode:
#   M117 Extrusion issues resolved
#   {action_respond_info("Extrusion issues resolved")} 

[printer]
kinematics: corexy
max_velocity: 800
# max_accel: 20000
max_accel: 5500
minimum_cruise_ratio: 0.1
max_z_velocity: 20 # test with 2 if needed for z steppers
square_corner_velocity: 5.0
max_z_accel: 300 # test with 10 if needed for z steppers

[pause_resume]

#[axis_twist_compensation]
#speed: 300
#horizontal_move_z: 5
#calibrate_start_x: 20
#calibrate_end_x: 200
#calibrate_y: 112.5

[firmware_retraction]
retract_length: 0.4
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.393
#*# pid_ki = 1.869
#*# pid_kd = 79.581
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.655
#*# pid_ki = 0.529
#*# pid_kd = 900.388
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4101007130610317,1.8689493536339552,0.7785694276987867,0.41635356321901046,0.6073842137167851,0.4090921314996878,-0.39596467947299047,-0.16671433138517602,0.4018595549615578,0.1771627588256415
#*# domain = 3.155683006365465e-07,3.3523010546984206e-07
#*# z_offset = 0
#*# reference_temperature = 72.05
#*#
#*# [cartographer touch_model default]
#*# threshold = 2614
#*# speed = 2
#*# z_offset = -0.05
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.002403, 0.009224, -0.001043, -0.005761, 0.001608, 0.017449, 0.014447, 0.003259
#*# 	0.007817, 0.012155, 0.006740, -0.001772, 0.012710, 0.026124, 0.012395, 0.002957
#*# 	0.011222, 0.013818, 0.006728, -0.002781, 0.016726, 0.023286, 0.016746, 0.005503
#*# 	0.014458, 0.017714, 0.009909, -0.000691, 0.011694, 0.025031, 0.017585, 0.005206
#*# 	0.014143, 0.014025, 0.005780, -0.002811, 0.010655, 0.025062, 0.019888, 0.007211
#*# 	0.016640, 0.017402, 0.005827, -0.005059, 0.008184, 0.024009, 0.012238, 0.002119
#*# 	0.013089, 0.013025, 0.004113, -0.005920, 0.007703, 0.022153, 0.012452, 0.002439
#*# 	0.010206, 0.009379, 0.003862, -0.008900, 0.006786, 0.024353, 0.009235, -0.001807
#*# 	0.008235, 0.010133, -0.002281, -0.006772, 0.008849, 0.018171, 0.013437, 0.001376
#*# 	0.008318, 0.009055, 0.001911, -0.007777, 0.003116, 0.022275, 0.019205, 0.005326
#*# 	0.010270, 0.011348, 0.001989, -0.008847, 0.012298, 0.023051, 0.015725, 0.004443
#*# 	0.008015, 0.008547, 0.002042, -0.007189, 0.008197, 0.021997, 0.014243, 0.006321
#*# 	0.005950, 0.008802, 0.000768, -0.007725, 0.012186, 0.022356, 0.019850, 0.012045
#*# 	0.003427, 0.008703, 0.006371, -0.005912, 0.007270, 0.024204, 0.022347, 0.013036
#*# 	0.008000, 0.010240, 0.006979, -0.004652, 0.015614, 0.028641, 0.026673, 0.015323
#*# 	0.006979, 0.010005, 0.006620, 0.000151, 0.015516, 0.033091, 0.024408, 0.021402
#*# min_x = 120.0
#*# min_y = 85.2
#*# max_x = 180.0
#*# max_y = 214.8
#*# x_count = 8
#*# y_count = 16
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.019855, -0.051077, -0.033096, 0.040494, 0.063534
#*# compensation_start_x = 40.0
#*# compensation_end_x = 260.0
#*#
#*# [cartographer]
#*# z_backlash = 0.00715
#*#
#*# [cartographer coil]
#*# calibration = 0.00012044208129620953,-6.982805358302453,-0.007971231879156262,510.4682925891395
