#SLICER GCODE OVERRIDES
[gcode_macro M104]
description: Set hotend temperature (non-blocking)
rename_existing: M104.1
gcode:
  {% set temp = params.S|default(0)|float %}
  M104.1 S{temp}

[gcode_macro M106]
description: Set Fan Speed. P0 for part, P2 for auxiliary, P3 chamber
gcode:
  {% set fan_map = {0: "Part_Fan", 2: "Side_Fan", 3: "Chamber_Fan"} %}
  {% set fan_id = params.P|default(0)|int %}
  {% set fan = fan_map[fan_id] %}
  {% set speed_param = params.S|default(255)|int %}
  {% if speed_param > 0 %}
    {% set speed = (speed_param|float / 255) %}
  {% else %}
    {% set speed = 0 %}
  {% endif %}
  SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
description: Set Fan Off. P0 for part, P2 for auxiliary, P3 chamber
gcode:
  {% set fan_map = {0: "Part_Fan", 2: "Side_Fan", 3: "Chamber_Fan"} %}
  {% set fan_id = params.P|default(0)|int %}
  {% set fan = fan_map[fan_id] %}
  SET_FAN_SPEED FAN={fan} SPEED=0

[gcode_macro M109]
description: Wait for hot end temp before proceeding
rename_existing: M99109
gcode:
  {% set s = params.S|default(0)|float %}
  M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
  {% if s != 0 %}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}
  {% endif %}

[gcode_macro M140]
description: Set bed temperature (non-blocking)
rename_existing: M140.1
gcode:
  {% set temp = params.S|default(0)|float %}
  M140.1 S{temp}

[gcode_macro M190]
description: Wait for bed temperature
rename_existing: M190.1
gcode:
  {% set temp = params.S|default(0)|float %}
  {% if temp > 0 %}
    M140.1 S{temp}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={temp-1} MAXIMUM={temp+1}
  {% endif %}

[gcode_macro M141]
description: Set Chamber temperature
gcode:
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET={params.S|default(35)}

[gcode_macro M900]
description: Set pressure advance
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
    {% endif %}
  {% endif %}

[gcode_macro SET_E_MIN_CURRENT]
description: Set extruder to minimum current for filament loading
gcode:
  {% set e_current = printer['gcode_macro _START_END_PARAMS'].e_min_current %}
  M400
  SET_TMC_CURRENT STEPPER=extruder CURRENT={e_current} HOLDCURRENT={e_current}
  G4 P2000

[gcode_macro RESTORE_E_CURRENT]
description: Restore extruder to normal current
gcode:
  {% set e_current = printer.configfile.settings['tmc2209 extruder'].run_current %}
  M400
  SET_TMC_CURRENT STEPPER=extruder CURRENT={e_current} HOLDCURRENT={e_current}
  G4 P2000