# ===============================
# Cartographer MCU (Upstream)
# ===============================
[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_320016000343565633393720-if00
restart_method: command    # per upstream docs

# =======================================
# Cartographer Probe Configuration (Touch)
# =======================================
[cartographer]
mcu: cartographer

# verbose logging (optional, good while dialing in)
# verbose: true

# Probe offsets relative to nozzle
x_offset: -18.665
y_offset: -4.3

# ============================
# Cartographer MCU Temperature
# ============================
[temperature_sensor cartographer_mcu]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

# ====================
# Bed Mesh (Cartographer)
# ====================
[bed_mesh]
speed: 200
horizontal_move_z: 5
# Your current mesh window – safe with your offsets
# mesh_min: 10,10
mesh_min: 20,20
# mesh_max: 287,287
mesh_max: 280,270
# upstream suggests 20x20. 31, 31 is just slower but more accurate
probe_count: 31,31
# mesh_pps: 0,0
# adaptive_margin: 10
algorithm: bicubic
bicubic_tension: 0.1
fade_start: 0.5 # full correction from Z=0 to 0.5 mm
fade_end: 30 # gradually less up to Z=30 mm. No mesh above 30mm
# Bed center for reference
zero_reference_position: 150,150
# zero_reference_position: 153.25,150.5

# ===========================
# Manual Bed Screws Adjustment
# ===========================
# [screws_tilt_adjust]
# screw1: 25,15
# screw1_name: Front Left
# screw2: 287,15
# screw2_name: Front Right
# screw3: 287,287
# screw3_name: Rear Right
# screw4: 25,287
# screw4_name: Rear Left
# speed: 50
# horizontal_move_z: 5
# screw_thread: CW-M4
[screws_tilt_adjust]
screw1: 25,20      # Front Left
screw1_name: Front Left
screw2: 280,20     # Front Right
screw2_name: Front Right
screw3: 280,270    # Rear Right
screw3_name: Rear Right
screw4: 25,270     # Rear Left
screw4_name: Rear Left
speed: 50
horizontal_move_z: 5
screw_thread: CW-M4


# =============================
# Gantry Axis Twist Compensation
# =============================
[axis_twist_compensation]
speed: 50
horizontal_move_z: 5
calibrate_start_x: 10
calibrate_end_x: 280
calibrate_y: 153
