# ============================
# Cartographer - General
# ============================

[gcode_macro CARTO_TOUCH_PROBE]
description: Cartographer – Touch Probe
gcode:
    CARTOGRAPHER_TOUCH_PROBE

[gcode_macro CARTO_TOUCH_HOME]
description: Cartographer – Touch Home with safe Z lift
gcode:
    {% set safe_z = printer["gcode_macro _SENSORLESS_PARAMS"].safe_z|int %}
    
    CARTOGRAPHER_TOUCH_HOME
    
    G90
    G1 Z{safe_z} F600
    M400

[gcode_macro CARTO_SCAN_MODEL]
description: Cartographer – Manage Scan Models
gcode:
    {% if params.LOAD %}
        CARTOGRAPHER_SCAN_MODEL LOAD={params.LOAD}
    {% elif params.REMOVE %}
        CARTOGRAPHER_SCAN_MODEL REMOVE={params.REMOVE}
    {% else %}
        {action_respond_info("Usage: CARTO_SCAN_MODEL LOAD=<name> or REMOVE=<name>")}
    {% endif %}

[gcode_macro CARTO_TOUCH_MODEL]
description: Cartographer – Manage Touch Models
gcode:
    {% if params.LOAD %}
        CARTOGRAPHER_TOUCH_MODEL LOAD={params.LOAD}
    {% elif params.REMOVE %}
        CARTOGRAPHER_TOUCH_MODEL REMOVE={params.REMOVE}
    {% else %}
        {action_respond_info("Usage: CARTO_TOUCH_MODEL LOAD=<name> or REMOVE=<name>")}
    {% endif %}

# ============================
# Cartographer - Full Calibration Sequence Automated
# ============================
[gcode_macro A_AUTO_CARTO_SCAN_CALIBRATE]
description: Scan Calibration. Default is the model name. Method: manual or touch. Default is manual
variable_model: "default"
variable_method: "manual"
gcode:
    {% set model = params.MODEL|default(printer["gcode_macro AUTO_CARTO_SCAN_CALIBRATE"].model) %}
    {% set method = params.METHOD|default(printer["gcode_macro AUTO_CARTO_SCAN_CALIBRATE"].method) %}

    M104 S150 #set extruder temp don't wait
    M140 S100 #set bed temp don't wait
    G28 X Y
    M190 S100 #wait for bed temps
    CARTOGRAPHER_SCAN_CALIBRATE MODEL={model} METHOD={method}

[gcode_macro C_AUTO_CARTO_SCAN_CALIBRATE_METHOD_TOUCH]
description: Scan Calibration With G28, Z TILT ADJUST, Carto Touch Home. Default method is touch but can set to manual
gcode:
    M104 S150 #set extruder temp don't wait
    M140 S100 #set bed temp don't wait
    G28
    M190 S100 #wait for bed temps
    Z_TILT_ADJUST
    CARTOGRAPHER_TOUCH_HOME
    CARTOGRAPHER_SCAN_CALIBRATE METHOD="TOUCH"

[gcode_macro B_AUTO_CARTO_TOUCH_CALIBRATE]
description: Touch Calibration. speed Default: 2, start default: 500, max default: 3000, strategy: choose default, aggressive, precision.
variable_model: "default"
# variable_speed: 2
variable_start: 500
variable_max: 3000
variable_strategy: "default"
gcode:
    {% set model = params.MODEL|default(printer["gcode_macro AUTO_CARTO_TOUCH_CALIBRATE"].model) %}
    # {% set speed = params.SPEED|default(printer["gcode_macro AUTO_CARTO_TOUCH_CALIBRATE"].speed)|float %}
    {% set start = params.START|default(printer["gcode_macro AUTO_CARTO_TOUCH_CALIBRATE"].start)|int %}
    {% set maxf = params.MAX|default(printer["gcode_macro AUTO_CARTO_TOUCH_CALIBRATE"].max)|int %}
    {% set strategy = params.STRATEGY|default(printer["gcode_macro AUTO_CARTO_TOUCH_CALIBRATE"].strategy) %}
    M104 S150
    M140 S100
    G28 X Y
    M190 S100
    # CARTOGRAPHER_TOUCH_CALIBRATE MODEL={model} SPEED={speed} START={start} MAX={maxf} STRATEGY={strategy}
    CARTOGRAPHER_TOUCH_CALIBRATE MODEL={model} START={start} MAX={maxf} STRATEGY={strategy}

[gcode_macro D_AUTO_CARTO_ESTIMATE_BACKLASH]
description: Run CARTOGRAPHER_ESTIMATE_BACKLASH CALIBRATE=1 after homing and z tilt
variable_iterations: 10
variable_delta: 0.2
gcode:
    {% set iterations = params.ITERATIONS|default(printer["gcode_macro AUTO_CARTO_ESTIMATE_BACKLASH"].iterations)|int %}
    {% set delta = params.DELTA|default(printer["gcode_macro AUTO_CARTO_ESTIMATE_BACKLASH"].delta)|float %}
    
    M104 S150 #set extruder temp don't wait
    M140 S100 #set bed temp don't wait
    G28
    Z_TILT_ADJUST
    CARTOGRAPHER_TOUCH_HOME
    M190 S100 #wait for bed temps
    CARTOGRAPHER_ESTIMATE_BACKLASH ITERATIONS={iterations} DELTA={delta} CALIBRATE=1

[gcode_macro E_AUTO_CARTO_AXIS_TWIST]
description: Automated Cartographer Axis Twist Compensation
variable_axis: "X"
variable_sample_count: 5

gcode:
    {% set AXIS = params.AXIS|default(printer["gcode_macro AUTO_CARTO_AXIS_TWIST"].axis)|upper %}
    {% set SAMPLES = params.SAMPLE_COUNT|default(printer["gcode_macro AUTO_CARTO_AXIS_TWIST"].sample_count)|int %}

    # Validate AXIS
    {% if AXIS not in ["X", "Y"] %}
        { action_raise_error("Invalid AXIS parameter. Use AXIS=X or AXIS=Y.") }
    {% endif %}

    M118 Starting Axis Twist Compensation (AXIS={AXIS}, SAMPLES={SAMPLES})

    M104 S150 #set extruder temp don't wait
    M140 S100 #set bed temp don't wait
    G28
    Z_TILT_ADJUST
    CARTOGRAPHER_TOUCH_HOME
    M190 S100 #wait for bed temps

    # Run axis twist compensation
    CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS={AXIS} SAMPLE_COUNT={SAMPLES}

    M118 Axis Twist Compensation complete. Run SAVE_CONFIG if satisfied.

[gcode_macro F_CARTO_TEMP_CALIBRATE]
description: Cartographer – Temperature Calibration
variable_bed_temp: 90
variable_min_temp: 40
variable_max_temp: 70
variable_z_speed: 5
gcode:
    {% set bed = params.BED_TEMP|default(printer["gcode_macro CARTO_TEMP_CALIBRATE"].bed_temp)|int %}
    {% set tmin = params.MIN_TEMP|default(printer["gcode_macro CARTO_TEMP_CALIBRATE"].min_temp)|int %}
    {% set tmax = params.MAX_TEMP|default(printer["gcode_macro CARTO_TEMP_CALIBRATE"].max_temp)|int %}
    {% set zspd = params.Z_SPEED|default(printer["gcode_macro CARTO_TEMP_CALIBRATE"].z_speed)|float %}
    CARTOGRAPHER_TEMPERATURE_CALIBRATE BED_TEMP={bed} MIN_TEMP={tmin} MAX_TEMP={tmax} Z_SPEED={zspd}

# ============================
# Cartographer - Calibration
# ============================

[gcode_macro CARTO_SCAN_CALIBRATE]
description: Scan Calibration. Default is the model name. Method: manual or touch. Default is manual
variable_model: "default"
variable_method: "manual"
gcode:
    {% set model = params.MODEL|default(variable_model) %}
    {% set method = params.METHOD|default(variable_method) %}
    CARTOGRAPHER_SCAN_CALIBRATE MODEL={model} METHOD={method}

[gcode_macro CARTO_ESTIMATE_BACKLASH]
description: Cartographer – Backlash Estimation
variable_iterations: 10
variable_delta: 0.2
variable_calibrate: 1
gcode:
    {% set iters = params.ITERATIONS|default(variable_iterations)|int %}
    {% set delta = params.DELTA|default(variable_delta)|float %}
    {% set calibrate = params.CALIBRATE|default(variable_calibrate)|int %}
    CARTOGRAPHER_ESTIMATE_BACKLASH ITERATIONS={iters} DELTA={delta} CALIBRATE={calibrate}

[gcode_macro CARTO_TOUCH_CALIBRATE]
description: Touch Calibration. speed Default: 2, start default: 500, max default: 3000, strategy: choose default, aggressive, precision.
variable_model: "default"
# variable_speed: 2
variable_start: 500
variable_max: 3000
variable_strategy: "default"
gcode:
    {% set model = params.MODEL|default(printer["gcode_macro CARTO_TOUCH_CALIBRATE"].model) %}
    # {% set speed = params.SPEED|default(printer["gcode_macro AUTO_CARTO_TOUCH_CALIBRATE"].speed)|float %}
    {% set start = params.START|default(printer["gcode_macro CARTO_TOUCH_CALIBRATE"].start)|int %}
    {% set maxf = params.MAX|default(printer["gcode_macro CARTO_TOUCH_CALIBRATE"].max)|int %}
    {% set strategy = params.STRATEGY|default(printer["gcode_macro CARTO_TOUCH_CALIBRATE"].strategy) %}
    
    CARTOGRAPHER_TOUCH_CALIBRATE MODEL={model} START={start} MAX={maxf} STRATEGY={strategy}

[gcode_macro CARTO_AXIS_TWIST]
description: Cartographer – Axis Twist Compensation
gcode:
    {% set axis = params.AXIS|default("X") %}
    {% set sample = params.SAMPLE_COUNT|default(5)|int %}
    
    {% if params.START and params.END %}
        CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS={axis} SAMPLE_COUNT={sample} START={params.START} END={params.END}
    {% elif params.LINE %}
        CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS={axis} SAMPLE_COUNT={sample} LINE={params.LINE}
    {% else %}
        CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS={axis} SAMPLE_COUNT={sample}
    {% endif %}

[gcode_macro CARTO_TEMP_CALIBRATE]
description: Cartographer – Temperature Calibration
variable_bed_temp: 90
variable_min_temp: 40
variable_max_temp: 70
variable_z_speed: 5
gcode:
    {% set bed = params.BED_TEMP|default(variable_bed_temp)|int %}
    {% set tmin = params.MIN_TEMP|default(variable_min_temp)|int %}
    {% set tmax = params.MAX_TEMP|default(variable_max_temp)|int %}
    {% set zspd = params.Z_SPEED|default(variable_z_speed)|float %}
    CARTOGRAPHER_TEMPERATURE_CALIBRATE BED_TEMP={bed} MIN_TEMP={tmin} MAX_TEMP={tmax} Z_SPEED={zspd}

# ============================
# Cartographer - Troubleshooting
# ============================

[gcode_macro CARTO_SCAN_ACCURACY]
description: Cartographer – Scan Accuracy Test
variable_samples: 100
variable_readings: 20
gcode:
    {% set samples = params.SAMPLES|default(variable_samples)|int %}
    {% set readings = params.READINGS|default(variable_readings)|int %}
    CARTOGRAPHER_SCAN_ACCURACY SAMPLES={samples} READINGS={readings}

[gcode_macro CARTO_STREAM]
description: Cartographer – Data Stream Control
variable_action: "status"
variable_file: "~/stream.csv"
gcode:
    {% set action = params.ACTION|default(variable_action) %}
    {% set file = params.FILE|default(variable_file) %}
    CARTOGRAPHER_STREAM ACTION={action} FILE="{file}"

[gcode_macro CARTO_TOUCH_ACCURACY]
description: Cartographer – Touch Accuracy Test
variable_samples: 5
variable_lift_speed: 5
variable_sample_retract_dist: 2
gcode:
    {% set samples = params.SAMPLES|default(variable_samples)|int %}
    {% set lift = params.LIFT_SPEED|default(variable_lift_speed)|float %}
    {% set retract = params.SAMPLE_RETRACT_DIST|default(variable_sample_retract_dist)|float %}
    CARTOGRAPHER_TOUCH_ACCURACY SAMPLES={samples} LIFT_SPEED={lift} SAMPLE_RETRACT_DIST={retract}